body {
    background-color: black;
    height: 100%;
}

#psysa {
    margin-top: 8%;
    margin-bottom: auto;
}

#psysa video {
    height: 350px;
}

#class210 {
    margin-top: 8%;
}

@media only screen and (max-width: 600px) {
    #psysa video {
        width: 60%;
        height: 150% !important;
        margin-top: 30%;
    }
    #class210 img {
        width: 50%;
        height: 150% !important;
        margin-top: 10%;
    }
}