body {
    background-color: black;
    font-family: Montserrat, 'sans-serif';
}

.header-container {
    width: 100%;
    padding: 3%;
}

.top-container {
    background-color: rgba(0, 0, 0, 0.5);
}

#extra {
    height: 50px;
}

.pill-box .nav-link {
    color: white !important;
    font-weight: 600;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: goldenrod;
    background-color: goldenrod !important;
    border-style: solid;
    border-width: 0px;
    border-radius: 0.25em;
}

#accordion>.card {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 10px;
    margin: 1%;
}

#accordion button {
    color: white;
    font-weight: 600;
}

.btn:focus {
    box-shadow: none;
}

#pills-awards .card {
    padding: 10%;
    background-color: transparent;
}

#pills-awards .card-columns {
    column-count: 4;
}

#pills-awards .overlay {
    position: absolute;
    top: 0em;
    bottom: 0em;
    left: 0em;
    right: 0em;
    margin: 11% 20% 20% 20%;
    z-index: 1;
}

#pills-awards .overlay img {
    border-radius: 50%;
}

#pills-awards .image {
    z-index: 10;
}

#pills-awards h5 {
    margin-bottom: 0;
    font-weight: 600;
}

#pills-memes>#cardsColumns {
    padding: 2.5% 5% 5% 5%;
}

#pills-memes .card-columns {
    column-gap: 0em !important;
}

#pills-memes .card {
    border-radius: 1em;
    margin-bottom: 0em !important;
    border: 0px !important;
    font-size: 0.9em !important;
    line-height: 1.5em !important;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.25em !important;
}

#pills-analytics .card-header {
    background-color: rgba(0, 0, 0, 0.2);
}

#pills-analytics .card-header img {
    width: 20px;
    padding: 0em;
    vertical-align: bottom;
}

@media only screen and (max-width: 991px) {
    .header-container {
        padding: 3% 3% 10% 3%;
    }
    #pills-memes .card {
        padding: 1rem 1rem 0 1rem !important;
    }
    #extra {
        height: 30px;
    }
    .col {
        padding: 0px !important;
    }
    .pill-box {
        padding: 0em !important;
    }
    .pill-box .nav-link {
        font-size: 0.7rem;
    }
    .ikka {
        display: none;
    }
    #pills-tab {
        margin: 0 10px 0 10px;
    }
    #pills-analytics .card {
        border: none;
        margin: 3% 1% 3% 1%;
    }
    #pills-awards .card-columns {
        column-count: 2;
    }
    #pills-awards h5 {
        font-size: 0.8rem;
    }
    #pills-awards p {
        font-size: 0.75rem;
    }
}